#diceTable{
    width: 400px;
    background-color: darkgreen;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-style: double;
    border-width: 20px;
    border-color: rgb(87, 2, 2);
    padding: 35px;
    
}
.buttons{
    text-align: center;
    padding: 15px;
}